
<h1 class="md-headline">
    We want to be your partner for your health needs.
</h1>
<h2 class="md-subhead">
    Our current records indicate you are dealing with:
</h2>
<md-list>
    <md-list-item>
        <p>Hypertension</p>
    </md-list-item>
    <md-list-item>
        <p>Type II Diabetes</p>
    </md-list-item>
</md-list>
<md-divider></md-divider>
<h3 class="md-title">
    Is this correct?
</h3>
<div>
    <div>
        <md-button ui-sref="about-you.objectives" class="md-raised md-primary md-hue-1">Yes</md-button>
        <md-button ui-sref="about-you.objectives" class="md-primar">No</md-button>
        <br>
        <label ng-disabled="true" class="text-muted">You can add more later.</label>
    </div>
</div>
