<div class="icon-grid">
    <div layout="row" layout-align="top center" layout-padding>
        <a flex>
            <md-button class="md-raised md-accent md-hue-3">
              <md-icon md-svg-icon="search"></md-icon>
            </md-button>
            <div>Find a<br>Doctor</div>
        </a>
        <a flex>
            <md-button class="md-raised md-primary md-hue-2">
              <md-icon md-svg-icon="urgent-care"></md-icon>
            </md-button>
            <div>Urgent<br>Care</div>
        </a>
        <a flex>
            <md-button class="md-raised md-warn md-hue-4">
              <md-icon md-svg-icon="id-cards"></md-icon>
            </md-button>
            <div>View Your<br>ID Cards</div>
        </a>
    </div>
    <div layout="row" layout-align="top center" layout-padding>
        <a flex>
            <md-button class="md-raised md-accent md-hue-2">
              <md-icon md-svg-icon="prescriptions"></md-icon>
            </md-button>
            <div>Prescription<br>Benefits</div>
        </a>
        <a flex>
            <md-button class="md-raised md-primary">
              <md-icon md-svg-icon="costs"></md-icon>
            </md-button>
            <div>Estimate<br>Your Costs</div>
        </a>
        <div flex>
        </div>
    </div>
    <div layout="row" layout-align="top center" style="margin-top:40px">
        <div flex>
            <md-divider><span>Your Health &amp; Wellness</span></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="top center" layout-padding>
        <a flex ui-sref="about-you.disclaimer">
            <md-button class="md-raised md-accent md-hue-4">
              <md-icon md-svg-icon="add_info"></md-icon>
            </md-button>
            <div>About You</div>
        </a>
        <a flex ui-sref="health-guide">
            <md-button class="md-raised md-primary md-hue-1">
              <md-icon md-svg-icon="health-guide"></md-icon>
            </md-button>
            <div>Health<br>Guide</div>
        </a>
        <a flex ui-sref="community">
            <md-button class="md-raised md-warn md-hue-3">
              <md-icon md-svg-icon="group"></md-icon>
            </md-button>
            <div>Community</div>
        </a>
    </div>
</div>
